<form id="login-form">
  <div>
    <label for="user-login" class="form-label">username:</label>
    <input type="text" class="form-control" id="user-login" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn">login</button>
  </div>
</form>

<form id="signup-form">
  <div>
    <label for="user-signup" class="form-label">username:</label>
    <input type="text" class="form-control" id="user-signup" />
  </div>
  <div>
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn">sign up</button>
  </div>
</form>

<script src="/javascript/login.js"></script>