<h2>Sign Up</h2>

<form id="signup-form">
  <div>
    <label for="user-signup" class="form-label">username:</label>
    <input type="text" class="form-control" id="user-signup" />
  </div>
  <div>
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn">sign up</button>
  </div>
</form>

<div class="login-or-signup">
    Have an account with us already? <a href="/login">Login instead!</a>
</div>

<script src="/javascript/signup.js"></script>